<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button (click)="createUnencryptedData()">Create Unencrypted Data</ion-button>
    <ion-button (click)="readUnencryptedData()">Read Unencrypted Data</ion-button>
  </div>
  <div>
    <ion-button (click)="createEncryptedData()">Create Encrypted Data</ion-button>
    <ion-button (click)="readEncryptedData()">Read Encrypted Data</ion-button>
  </div>
</ion-content>